body {
  /* background-color: #faf6f6; */
  font-family: sans-serif;
}

h1 {
  margin-top: 75px;
  font-size: 34px;
  font-weight: 600;
  margin-left: 50px;
}

h2 {
  font-size: 30px;
  text-align: center;
  font-weight: 500;
  margin: 50px 10px 20px;
}

h3 {
  font-size: 22px;
  font-weight: 600;
  margin: 5px 0 5px 25px;
}

hr {
  border-top: 3px solid #d8c5c5;
}

ul {
  list-style-type: none;
  padding: 3px 0;
}

li {
  padding: 8px 0;
}

a {
  text-decoration: none;
}

button:hover {
  border: 2px solid #be3922;
  cursor: pointer;
  opacity: 0.7;
}

.all-header {
  background: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/020/263/original/bg_divider_001.png?1635752103")
    100% no-repeat;
  margin: 100px 0 20px 0;
  padding: 40px 0;
}

.image-on-background {
  border-radius: 50%;
  height: 35vh;
  width: 35vh;
  margin-left: 220px;
}

.text-paragraph {
  text-align: justify;
  margin: 5px 40px;
  line-height: 1.8;
  font-size: 18px;
}

.hormoz-location {
  color: #c36f60;
}

.rainbow-mountain {
  border-radius: 15px;
  box-shadow: 5px 5px 10px -5px rgba(0, 0, 0, 70%);
  margin: 40px 5px 1px 20px;
  width: 630px;
  height: auto;
}

.attractions-name {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 8px;
  text-align: center;
}

.small-images {
  border-radius: 8px;
  box-shadow: 3px 3px 10px -5px rgba(0, 0, 0, 70%);
  height: 85px;
  width: 150px;
  margin: 0 auto;
  display: block;
}

.small-images:hover {
  border: 2px solid #be3922;
  cursor: pointer;
  opacity: 0.7;
}

.btn {
  background-color: #b43042;
  border: none;
  border-radius: 10px;
  box-shadow: 3px 3px 10px -5px rgba(0, 0, 0, 70%);
  color: white;
  display: block;
  margin: 15px auto;
  font-weight: 400;
}

.coded-by {
  color: #be3922;
  font-size: 15px;
  opacity: 0.7;
  text-align: center;
  margin-bottom: 10px;
}

@media (max-width: 575.98px) {
  h1 {
    margin-left: 5px;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
  }

  h2 {
    font-size: 22px;
    font-weight: 700;
    margin: 50px 30px 20px;
  }

  h3 {
    font-size: 18px;
    text-align: center;
    margin: 5px 30px 10px;
  }

  .text-paragraph {
    font-size: 16px;
    margin: 5px 40px;
  }

  .attractions-name {
    text-align: center;
    font-size: 14px;
  }

  .small-images {
    display: block;
    margin: 0 auto;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  h1 {
    margin-left: 5px;
    text-align: center;
    font-size: 28px;
  }

  h2 {
    font-size: 19px;
    margin: 50px 30px 20px;
  }
  h3 {
    font-size: 18px;
    text-align: center;
    margin: 5x 30px 10px;
  }

  .text-paragraph {
    font-size: 14px;
  }

  .attractions-name {
    text-align: center;
  }

  .small-images {
    display: block;
    margin: 0 auto;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  h1 {
    margin-left: 30px;
    font-size: 32px;
  }

  h2 {
    margin-top: 30px;
  }

  .rainbow-mountain {
    margin: 90px 5px 1px 20px;
    width: 500px;
    height: auto;
  }
}
